body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    gap:64px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
}
.header h1 {
    font-size: 16px;
    color: #f9faf8;
}
.link{
    width: 70px;
    margin: -20px;
}
.sticky{
    position: sticky;
    bottom:0px;
    margin-left: auto;
}
.sticky img {
    width: 100px;
}
ul {
    display: flex;
    list-style: none;
    gap:24px;
    align-items: center;
}
.title {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 50%;
    flex-wrap: wrap;
}
.title div {
    flex:1
}
.title h2 {
    font-size: 32px;
    margin: 0px;
    color: #f9faf8;
    font-weight: 900;
}
.title p{
    font-size: 12px;
    color: #e5e7eb;
}
#balrog {
    height: 200px;
    width: 400px;
    flex:1 1 0px;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border:none;
    padding: 6px 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}
a:hover {
    color: #e5e7eb;
    background-color: hotpink;
    border-radius: 4px;
    padding: 10px;
  }
.cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    color: #1f2937;
}
.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    
}
.cards img {
    border-radius: 10px;
    border: solid;
    border-color: #3882f6;
    border-width: 4px;
}
.cards div{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
#sprinkler {
    width: 96px;
    height:96px;
}
.uppercolor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
    background-color: #1f2937;
    gap: 30px;
    min-width: 100%;
}
.footer {
    background-color: #1f2937;
    min-width: 100%;
    color:#f9faf8;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.inspoquotecolor {
    background-color: #e5e7eb;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.inspoquote{
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 60px;
}
.inspoquote p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}
.inspoquote div {
    text-align: right;
    color:#1f2937;
    font-weight: bold;
    
}
.call {
    color: #f9faf8;
    background-color: #3882f6;
    min-width: 50%;
    padding: 64px;
    border-radius: 8px;
}
.call button {
    border: solid;
    border-width: 2px;
}